{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ STATIC_URL }}styles/feeds.css" type="text/css" />
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}scripts/feed.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
<ul id="user-nav">
  {% if user.is_authenticated %}
    <li>{{ user }}</li>
    <li><a href="{% url import %}">Import OPML</a></li>
    <li><a href="{% url auth_logout %}">Sign out</a></li>
  {% else %}
    <li><a href="{% url auth_login %}">Sign in</a></li>
  {% endif %}
</ul>

<ul id="feed-nav">
  <li><a href="{% url home %}">Home</a></li>
  {% if user.is_authenticated %}
    <li>Bookmarked items</li>
  {% endif %}  
  {% if user.is_authenticated %}
    <li class="list-heading">Subscriptions</li>
    <li>
      <ul id="feeds">
        {% for feed in user.feeds.all %}
          <li>
            <a class="feed" href="{% url feed feed_id=feed.id %}">
              {{ feed }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endif %}
</ul>

<div id="content">
  {% block content %}{% endblock %}
</div>
{% endblock %}
