{% extends 'feeds/base.html' %}

{% block title %}{{ feed }}{% endblock %}

{% block content %}
<h1>{{ feed }}</h1>
<form method="post" action="{% url feed feed_id=feed.id %}">
  {% csrf_token %}
  <fieldset>
    <input type="submit" value="Refresh" />
  </fieldset>
</form>

{% for entry in entries %}
  <div class="article">
    <div class="article-header">
      <h1><a href="{{ entry.link }}">{{ entry }}</a></h1>
      <p>
        Published {{ entry.published}}
        {% if entry.author %}by {{ entry.author }}{% endif %}
      </p>
    </div>

    {% if entry.content %}{{ entry.content|safe }}{% endif %}

    {% if user.is_authenticated %}
      <div class="article-footer">
        <form method="post" action="{% url share entry_id=entry.id %}">
          {% csrf_token %}
          <fieldset>
            <input type="submit" value="Share" />
          </fieldset>
        </form>

        <form class="read-form" method="post" action="{% url read entry_id=entry.id %}">
          {% csrf_token %}
          <fieldset>
            <input type="submit" value="Read" />
          </fieldset>
        </form>
      </div>
    {% endif %}
  </div>
{% endfor %}
{% endblock %}
