{% extends 'registration/base.html' %}

{% block title %}Sign in{% endblock %}

{% block content %}
<h1>Sign in</h1>

<form method="post" action="{% url auth_login %}">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}" />

  {{ form.non_field_errors }}

  {% for field in form %}
    <fieldset>
      {{ field.label_tag }}
      {{ field }}
    </fieldset>
  {% endfor %}

  <fieldset class="button-bar">
    <input type="submit" value="Sign in" />
  </fieldset>
</form>

<ul id="account-options">
  <li><a href="{% url auth_password_reset %}">Reset password</a></li>
  <li><a href="{% url registration_register %}">Register account</a></li>
</ul>
{% endblock %}
