{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
  <h1>Login</h1>
  <form method="post" action="{% url django.contrib.auth.views.login %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />

    <table>
      <tr>
        <th>{{ form.username.label_tag }}</th>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <th>{{ form.password.label_tag }}</th>
        <td>{{ form.password }}</td>
      </tr>
    </table>

    <input type="submit" value="Login" />
  </form>
{% endblock %}
